<style>
td{
 font-size:9pt;
 color: #000000;
 }
 input{
 	font: "微软雅黑";
 	font-size: 9pt;
 	color: #3F9;
 	border: 1px solid #999999;
 }
 body{
 	margin-left: 0px;
 	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px ;
 }
